version: '2'

services:

  middleware:
    build: .
    image: servidoradv/google_middleware_site_2016:0.1.1
    restart: always
    network_mode: bridge
    ports:
      - 8089:8881
    environment:
      - LOG_TAGS=error,warning
